.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input {
width: 400px;
height: 50px;
border-style: solid  ;
border-radius: 20px ;
color:aqua;
padding-left: 200px ;
}

.list_item{
display: flex;
background-color: cadetblue;
align-items: center;
padding-left: 250px; 
padding-bottom: 20px;
padding-top: 20px;
 
}

.App{ 
  background-color: cyan;
display: block;
align-items: center;
width: 800px;
padding: 200px;
}

.footer { display: flex;
         justify-content: space-evenly;
        background-color: black; 
          color: whitesmoke;
        padding-left:20px;
        padding-right: 20px;
        padding-top: 20px;
        margin-top: 0px; 
        width: 700px;
         margin-left: 50px;   
             }
.checkbox{ border-radius: 150px ; }
